PORT=3000
POSTGRES_USER=postgres
POSTGRES_DB=trueauth
POSTGRES_PASSWORD=123456
JWT_SECRET=ASDASDASDASDASD12312
DATABASE_URL="postgresql://postgres:123456@localhost:5432/trueauth?schema=public"
EMAIL_TOKEN_EXPIRATION_MINUTES=30
REFRESH_TOKEN_EXPIRATION_DAYS=30
EMAIL_ADDRESS=yourmail@example.com
GMAIL_APP_PASSWORD=your application password
EMAIL_VERIFICATION_SERVICE_URL=http://localhost:3000/api/auth/validateEmail
COOKIE_DOMAIN=
NODE_ENV=development