PORT=3000
POSTGRES_USER=postgres-test
POSTGRES_DB=trueauth-test
POSTGRES_PASSWORD=123456789
JWT_SECRET=secreto
DATABASE_URL=postgresql://postgres-test:123456789@localhost:5433/trueauth-test?schema=public
EMAIL_TOKEN_EXPIRATION_MINUTES=30
REFRESH_TOKEN_EXPIRATION_DAYS=30
EMAIL_ADDRESS=yourmail@example.com
GMAIL_APP_PASSWORD=your application password
FRONTEND_BASE_URL=http://localhost:3000
FORGOT_PASSWORD_EMAIL_EXPIRATION_MINUTES=10
COOKIE_DOMAIN=
NODE_ENV=test